@media screen and (max-width: 550px) {


    body{
        height: auto;
    }

    .container{
        width: 100%;
    }
    
    .name{
        display: flex;
        flex-direction: column;
    }
    .name div:nth-child(2){
        margin-left: 0;
    }

    .query div{
        display: flex;
        flex-direction: column;
    }

    .query div div:nth-child(2){ 
        margin-left: 0;
        margin-top: 16px;
    }

}


@media screen and (orientation: landscape) and (max-height: 420px){
    body{
        height: auto;
    }

    .container{
        width: 100%;
    }
    
    .name{
        display: flex;
        flex-direction: column;
    }
    .name div:nth-child(2){
        margin-left: 0;
    }

    .query div{
        display: flex;
        flex-direction: column;
    }

    .query div div:nth-child(2){ 
        margin-left: 0;
        margin-top: 16px;
    }
}